<div ng-controller="addForm as vm" class="addform">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFormModal">
    Add car
</button>

<div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Car Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Car title" required ng-model="vm.car.name">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Country" required ng-model="vm.car.country">
                        </div>
                        <div class="form-group">
                            <label for="horsepower">Horsepower</label>
                            <input type="text" class="form-control" id="horsepower" placeholder="horsepower" required ng-model="vm.car.horsepower">
                        </div>
                        <div class="form-group">
                            <label for="image">Car image</label>
                            <input type="file" class="form-control-file" id="image" ng-model="vm.car.image" disabled>
                        </div>
                    </form>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save(vm.car)">Add car</button>
            </div>
        </div>
    </div>
</div>

</div>


